/* Google fonts */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Oswald', sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    font-family: 'Oswald', 'Ranga', sans-serif;
    margin: auto;
    max-width: 60em;
    height: 100vh;
    display: grid;
    padding: 5px;
    grid-template-rows: 0fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

a, a:link, a:active, a:visited {
    font-size: 1.5em;
    color: #017A9B;
}

a:hover, button:hover{
    color: #eb6e4b;
    text-decoration: none;
}

p {
    padding: 10px;
    font-size: 15px;
    color: black;
}

header {
    grid-area: header;
    text-align: center;
    padding: 10px;
}

.toggle{
    float: right;
}

button {
    font-family: 'Oswald', sans-serif;
    background-color: Transparent;
    color: #017A9B;
    background-repeat:no-repeat;
    font-size: 1.5em;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.generate {
    background-color: #017A9B;
    color: #eb6e4b;
    transition: 0.5s;
}

.generate:hover {
   background-color: #eb6e4b;
   color: #017A9B;
   border-radius: 25%;
   transition: 0.5s;
}

.logo{
    width: 3em;
    height: 3em;
}

header div {
    grid-area: logo;
    display: inline-flex;
    float: left;
    width: 100%;
}

header p {
    display: table-cell;
    vertical-align: middle;
}

.indiv {
    text-align: center;
    width: 100%;
}

input {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    border: none;
}

textarea {
    font-size:16px;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding: 10px;
    margin-right: 5px;
}

.input-field {
    font-size: inherit;
    text-align: center;
    width: 200px;
}

.input-field:placeholder-shown{
    background: none;
}

.input-field:not(:placeholder-shown), textarea:not(:placeholder-shown) {
    color: #017A9B;
    border-bottom: 4px solid #017A9B;
}

.input-field:focus, textarea:focus {
    outline: none;
    border-bottom: 4px solid #017A9B;
}

main {
    grid-area: main;
    display: grid;
    padding: 5px;
    grid-template-rows: 0fr 0fr;
    grid-template-areas:
    "info"
    "search"
    "entryHolder";
    overflow-y: auto;
}

section {
    line-height: 1.5;
}

.info {
    grid-area: info;
    text-align: center;
    box-shadow: 0 10px 10px -10px #017A9B;
}

.column {
    display: inline-flex;
    margin-bottom: 10px;
}

.search {
    grid-area: search;
    text-align: center;
}

.entryHolder {
    grid-area: entryHolder;
    display: none;
    overflow-y: auto;
}

footer{
    grid-area: footer;
    text-align: center;
    box-shadow: 0px -10px 10px -10px #017a9b;
}

/* Custom scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #017A9B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eb6e4b;
}

.loader {
  border: 16px solid #eb6e4b;
  border-radius: 50%;
  border-top: 16px solid #017A9B;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}