/* Google fonts */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Oswald', sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    font-family: 'Oswald', 'Ranga', sans-serif;
    margin: auto;
    max-width: 60em;
    height: 100vh;
    display: grid;
    padding: 5px;
    grid-template-rows: 0fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

a, a:link, a:active, a:visited {
    font-size: 1.5em;
    color: #017A9B;
}

a:hover, button:hover{
    color: #eb6e4b;
    text-decoration: none;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #017A9B inset;
}

p {
    padding: 10px;
    font-size: 15px;
    color: black;
}

header {
    grid-area: header;
    text-align: center;
    padding: 10px;
}

.toggle{
    float: right;
}

button {
    background-color: Transparent;
    color: #017A9B;
    background-repeat:no-repeat;
    font-size: 1.5em;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.logo{
    width: 3em;
    height: 3em;
}

header div {
    grid-area: logo;
    display: inline-flex;
    float: left;
    width: 100%;
}

header p {
    display: table-cell;
    vertical-align: middle;
}

.indiv {
    text-align: center;
    width: 100%;
}

input{
    font-size:16px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    border: none;
}

.input-field {
    font-size: inherit;
    text-align: center;
    width: 200px;
}

.input-field:placeholder-shown{
    background: none;
}

.input-field:not(:placeholder-shown) {
    color: #017A9B;
    border-bottom: 4px solid #017A9B;
    padding-left: 10px;
}

.input-field:focus {
    outline: none;
    border-bottom: 4px solid #017A9B;
}

main{
    grid-area: main;
    display: grid;
    padding: 5px;
    grid-template-rows: 0fr 0fr;
    grid-template-areas:
    "info"
    "search"
    "recent";
    overflow-y: auto;
}

section {
    line-height: 1.5;
    margin: 5px;
}

.info {
    grid-area: info;
    text-align: center;
}

.search{
    grid-area: search;
    text-align: center;
}

.last-entries{
    grid-area: recent;
}

.info img {
    margin: 20px;
    width: 10em;
    height: 10em;
    border-radius: 25px;
    box-shadow: 0 0 5px #1D5174;
}

footer{
    grid-area: footer;
    text-align: center;
}